body{
    background-color: #fff;
}

button{
    font-size: 12px;
}

p{
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center !important;
}

main{
    display: flex;
    justify-content: center;

}

main>.container{
    background-color: #eee !important;
    text-align: center !important;
    padding: 0 0 20px 0;
    width: 90%;
}

.form-group{
    display: block;
    
}

label{
    display: block;
}

footer{
    display: flex;
    justify-content: center;
}

footer>.container{
    display: flex;
    width: 90%;
}

.box{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.box:nth-child(1)
{
    background-color: #7EE5DA;
    width: 37%;
}

.box:nth-child(2)
{
    background-color: #70CCC2;
    width: 23%;
}

.box:nth-child(3)
{
    background-color: #62B3AA;
    width: 40%;
}

.link-container a {
    display: block;
  }

.text-sm{
    font-size: 12px;
}

#newsletter{
    font-size: 12px;
    display: block;
}

#subscribe{
    font-size: 12px;
}

#archive{
    font-size: 12px;
    background: 0;
    border: 0;
    text-decoration: underline;
    color: blueviolet;
}

.copyright{
    width: 100%;
    text-align: center;
}

.copyright p{
    font-size: 12px;
    padding: 20px;
}